@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
    font-family: "PixelOperatorMonoHB";
    src: url("pixel_operator/PixelOperatorMonoHB.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

*{margin: 0;
padding: 0;
scroll-behavior: smooth;
}

body{
    font-family: "Pixel Operator Mono HB", "Inter", sans-serif;
    font-family: "Inter", sans-serif;
    color: #31322D;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    font-size: 28px;
    font-family: "Pixel Operator Mono HB";
    height: 80px;
}

header ul{
    display: flex;
    gap: 15px;
    list-style: none;
}

header img{
    width: 24px;
    height: auto;
}

a{
    text-decoration: none;
    color: #31322D;
}

.total{
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100vw;
    scroll-snap-type: x mandatory;
    &::-webkit-scrollbar {
        height: 7px;
        width: 7px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #31322D;
    }
    &::-webkit-scrollbar-track {
        background-color: #ffffff;
    }
}

.total > div{
   flex: 1 0 100%;
   height: calc(100vh - 80px);
   scroll-snap-align: center;
}


img{
    width: 500px;
    height: auto;
}

video{
    width: 500px;
    height: auto;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 50px;
    padding-top: 235px;
    height: 100%;
    position: relative;
}

.intro h1{
    font-family: "Pixel Operator Mono HB";
    font-size: 128px;
    font-weight: 400;
    color: #ffffff;
    -webkit-text-stroke: 2px #31322D;
    text-shadow: 3px 3px #31322D;
}

/* BOTONESSSSS */

    .intro div{
        position: absolute;
    }

    .intro img{
        width: 180px;
        position: relative; /*para que el z-index funcione */
        z-index: 2;
    }

       .uno{
            top: 46%;
            left: 58%;
    }

       .dos{
            top: 33%;
            left: 70%;
    }

       .tres{
            top: 20%;
            left: 82%;
    }

    .intro div p{
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        position: inherit;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        z-index: 1;

    transform: translateY(10%); /* empieza oculto abajo */
    transition: transform 0.4s ease;
    }

    .uno:hover p, .dos:hover p, .tres:hover p{
    transform: translateY(-90%); /* sube al hacer hover */
}

/* SOBRE MI */

.sobremi{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gumi-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

    .gumi{
        width: auto;
        height: 70%;
    }

    .gumi img{
        width: 80%;
        height: 100%;
        object-fit: cover;
    }

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

    .stats{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nombres{
        display: flex;
        flex-direction: column;
    }

    .nivel{
        padding-bottom: 8px;
    }

.sobremi h1{
    font-weight: 600;}

.sobremi p{
    font-weight: 600;}

    /* GRILLA DE HABILIDADES */

    .habilidad{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .habilidad div{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .barra{
        width: auto;
        height: 24px;
    }

    .logo{
        width: 32px;
        height: 32px;
    }

/* general proyectos */

.proyecto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 20px;
    position: relative;
}

    .proyecto p{
        font-size: 32px;
        font-weight: 600;
    }

        .flecha1{
            position: absolute;
            top: 20%;
            left: 90%;
        }

        .flecha2{
            position: absolute;
            top: 80%;
            left: 90%;
        }

        .flecha3{
            position: absolute;
            top: 40%;
            left: 90%;
        }

/* TAMAÑO DE LADRILLOS */

.ladrilloflecha{
    width: 80px;
    height: auto;
    opacity: 0.8;}

.ladrillolargo{
    width: 160px;
    height: auto;
    opacity: 0.8;}

.ladrillo{
    width: 110px;
    height: auto;
    opacity: 0.8;}

.ladrillocorto{
    width: 85px;
    height: auto;
    opacity: 0.8;}

        /* POSICIONES DE LADRILLOS */

        .ladrillo1{
            position: absolute;
            top: 40%;
            left: 80%;
        }

        .ladrillo2{
            position: absolute;
            top: 40%;
            left: 5%;
        }

        .ladrillo3{
            position: absolute;
            top: 50%;
            left: 20%;
        }

        .ladrillo4{
            position: absolute;
            top: 80%;
            left: 2%;
        }

        .ladrillo5{
            position: absolute;
            top: 70%;
            left: 10%;
        }

    /* VIDEOS */
    
    .video{
        width: 500px;
        height: 500px;
    }

    .video video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

/* CHAU */

.chau{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    gap: 200px;
}

.chau h1{
    font-family: "Pixel Operator Mono HB";
    font-size: 96px;
    font-weight: 400;
    color: #ffffff;
    -webkit-text-stroke: 2px #31322D;
    text-shadow: 3px 3px #31322D;
    }

.contacto{
    font-size: 24px;
}

.contacto ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

.contacto a{
    display: flex;
    align-items: center;
    gap: 10px;
}